.container-fluid {
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.example-card {
    max-width: 400px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 11%;
    background-image: url('C:\Users\patil\OneDrive\Desktop\CustomerModule\CustomerModule\src\assets\download.png');
    background-size: cover;
}

.btn {
    background-color: aliceblue;
    color: black;
}

.btn:hover {
    background-color: rgb(139, 139, 139);
    border-color: rgb(187, 184, 184);
}

.title {
    text-align: center;
}

.subtitle {
    text-align: center;
}